<!-- Footer -->
<footer>
    <div class="footer-section">
  
      <div class="footer-box">
        <div class="footer-title">
          <img src="/icons/libroa.png" class="iconf" alt="Bookshop icon">
          <h4>BOOKSHOP</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod incididunt ut laoreet dolore.</p>
        <a href="#">Learn More About Us</a>
      </div>
  
      <div class="footer-box">
        <div class="footer-title">
          <img src="/icons/brujula.png" class="iconf" alt="Compass icon">
          <h4>OUR MAIN OFFICE</h4>
        </div>
        <p>San Francisco, California, US</p>
        <p>P.O. BOX: 55300</p>
        <p>Phone: (+1) 998 5364</p>
        <p>Mail: admin@bookshop.com</p>
      </div>
  
      <div class="footer-box">
        <div class="footer-title">
          <img src="/icons/lupa.png" class="iconf" alt="Social media icon">
          <h4>KEEP IN TOUCH WITH US</h4>
        </div>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Google Plus</a>
      </div>
  
      <div class="footer-box">
        <div class="footer-title">
          <img src="/icons/i.png" class="iconf" alt="Information icon">
          <h4>INFORMATIONS</h4>
        </div>
        <div class="info-columns">
          <div class="links-column">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">FAQ</a>
          </div>
          <div class="links-column">
            <a href="#">Terms & Conditions</a>
            <a href="#">My Account</a>
            <a href="#">Blog</a>
          </div>
        </div>
      </div>
  
    </div>
  
    <p class="copyright">
      © 2025 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </p>
  </footer>
  