<!-- Navbar -->
<header>
    <div class="header-top">
      <div class="logo">
        <a href="#"><img src="/icons/libro.png" class="icon" alt="icon"></a>
        <a href="/"><h1>BOOKSHOP</h1></a>
      </div>
      <div class="search-bar">
        <i class="fa fa-search"><img src="/icons/lupa.png" class="icon" alt=""></i>
        <input type="text" placeholder="Buscar libros...">
      </div>
      <div class="header-actions">
        <div class="user-actions">
          <a href="#"><img src="/icons/usuario.png" class="icon" alt="usuario"></a>
          <a href="#"><img src="/icons/carrito.png" class="icon" alt="Cart"></a>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <nav>
        <ul class="nav-links">
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Recomendados</a></li>
          <li><a href="#">Como vender</a></li>
          <a href="/bookDetails">Codigo ISBN</a>
          <li><a href="/register">Registrarse</a></li>
        </ul>
      
      </nav>
    </div>
  </header>