<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    
  </head>

<body>
  <%- include('../partials/header.ejs') %>
  

  <%- include('../partials/footer.ejs') %>

</body>