/* filtro.css */
.home-container {
  display: flex;
  flex-direction: row; /* Esto es clave */
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.sidebar {
  width: 220px;
  background-color: #ffffffd9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  height: fit-content;
}

.sidebar h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #000000;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}
.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}


.filter-group {
  margin-bottom: 20px;
}

.filter-header {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-options.collapsed {
  display: none;
}
.price-range input[type="number"] {
  border: 1.5px solid #bdbdbd;
  border-radius: 18px;
  padding: 7px 14px;
  width: 70px;
  margin: 0 5px;
  font-size: 0.98rem;
  outline: none;
  transition: border-color 0.2s;
  background: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.price-range input[type="number"]:focus {
  border-color: #6c63ff;
  background: #fff;
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

